<div class="container">
  <div class="wrap">
    <img src="./assets/phone-icon.png" alt="phone icon" class="contact" id="phone">
    <p>Call us</p>
  </div>
  <div class="wrap">
    <img src="./assets/email-icon.png" alt="email icon" class="contact" id="email">
    <p>Email us</p>
  </div>
  <div class="wrap">
    <img src="./assets/Chat-icon.png" alt="chat icon" class="contact" id="chat">
    <p>Chat with our support team</p>
  </div>
</div>
<div class="mobile">
  <h1>Call us</h1>
</div>
<div class="mobile">
  <h1>Email us</h1>
</div>
<div class="mobile">
  <h1>Chat with us</h1>
</div>
