@mixin circle-image{
  clip-path: circle(40%);
  
  max-height: 320px;
  margin-bottom: 30px;
}

@mixin panel-body{
  background: {
    color: rgb(0,0,0,.5);
  }
}

@mixin panel-head{
  font: {
    font-family: 'Poppins', sans-serif;
    size: calc(100% + 0.5em);
    weight: 400;
  }
}

@mixin logo{
  max-width: 90px;
  max-height: 90px;
}
