$header-height: 100px;
$coral: #F46D6D;
$full-width: 96vw;
$poppin: 'Poppins', sans-serif;
$raleway: 'Raleway', sans-serif;
$big-text: calc(100% + 1em);
$mid-text: calc(100% + .5em);
$small-text: calc(100% + .3em);
