/* You can add global styles to this file, and also import other style files */
// all imports
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500|Raleway:400,600,700');
@import './vars';

*{
  margin:0;
  padding: 0;
  text-decoration: none;
  color: white;
}
