@import '~scss/vars';
@import '~scss/mixins';
.about{
  font-family: $raleway;
}
h1{
  text-align: right;
}
h2{
  text-align: right;
}
img{
  @include circle-image;
  max-width: 20vw;
  float: left;
}
p{
  font-size: calc(100% + .4em);
}
