@import '~scss/vars';
@import '~scss/mixins';

.venue-content{
  font-family: $poppin;
}
img{
  @include circle-image;
  max-width: 28vw;
  float: right;
}

@media screen and (max-width:375px){
  img{
    display: none;
  }
  .container{
    font-size: 90%;
  }
}
