<div id="page-fold">
</div>
<img src="./assets/co-logo.png" id='corner-logo'>
<div class="nav">
  <div class="logo">
    <a routerLink=""><img src="./assets/co-logo.png"></a>
  </div>
  <div class="svg">
    <a routerLink="">
      <svg width="198px" height="51px" viewBox="0 0 198 51" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-family="DINAlternate-Bold, DIN Alternate" font-size="64" font-weight="bold">
          <g id="co-logo" transform="translate(-126.000000, -29.000000)" fill="#FFFFFF">
            <text id="llect.iv">
              <tspan x="122" y="72">ll</tspan>
              <tspan x="155" y="72" font-family="Poppins-Medium, Poppins" font-weight="400">ect.iv</tspan>
            </text>
          </g>
        </g>
      </svg>
    </a>
  </div>
  <div id="link-wrapper">
    <div class="nav-link">
      <a routerLink="venues">Venues</a>
    </div>
    <div class="nav-link">
      <a routerLink="about">Who we are</a>
    </div>
    <div class="nav-link">
      <a routerLink="events">Events</a>
    </div>
    <div class="nav-link">
      <a routerLink="contact">Contact us</a>
    </div>
  </div>
</div>
<div class="body">
  <router-outlet></router-outlet>
</div>
