@import '~scss/vars';
@import '~scss/mixins';

.nav{
  height: $header-height;
  width: $full-width;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 40px;
  img{
    @include logo;
  }
}

#link-wrapper{
  display: flex;
  justify-content: space-between;
  .nav-link{
    line-height: $header-height;
    height: $header-height;
    padding-left: 3vw;
    padding-right: 3vw;
    font-family: $poppin;
    font-size: calc(75% + 1vw);
  }
}
.nav-link:hover{
  a{
    color:#06cdae;
  }
}
#page-fold {
	width: 0;
	height: 0;
	border-top: 200px solid $coral;
	border-left: 200px solid transparent;
  z-index: 1;
  position: absolute;
  top: 0px;
  right: 0px;
}
#corner-logo{
  @include logo;
  z-index:2;
  position: absolute;
  top: 20px;
  right: 10px;
}
#corner-logo:hover{
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mobile-head{
  display: none;
}
.mobile-nav{
  display: none;

}
// media queries

@media screen and (max-width: 1250px){
  #link-wrapper{
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

@media screen and (max-width: 375px){
  .nav{
    display: none;
  }
  #corner-logo{
    display: none;
  }
  #page-fold{
    display: none;
  }
  .mobile-nav{
    display: flex;
    background-color: $coral;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
  }
  svg{
    fill: white;
    max-width: 25vw;
  }
  img{
    max-width: 15vw;
    max-height: 13vw;
    z-index: 1;
  }
}
