<div class="container">
  <img src="./../assets/workspace-coffee.png" alt="Coffee bar">
    <p class="standard">"Great things are not done by impulse, but a series of small things brought together"</p>
    <p class="bold">- Vincent Van Gogh</p>
  <br>
  <br>
  <br>
  <br>
  <div class="centered">
    <p class="light">We're more than just a co-working space</p>
    <p class="bold">We're a community</p>
  </div>
</div>
<div class="container">
  <img src="./../assets/collab.jpg" alt="people working together" id="right-align">
  <p class="raleway-title">Who we are</p>
  <br>
  <p class="raleway-p">We are designers, we are artists, we are technicians who believe that collaboration with other talented individuals is the one of most effective tool for innovation. </p>
  <br>
  <p class="raleway-p">We want a workspace that represents and facilitates that to the highest degree. We want a space that represents who we are and how we cooperate with those around us.</p>
  <br>
  <br>
  <p class="raleway-emp">We are COllect.iv</p>
</div>
<div class="mobile">
  <img src="./../assets/workspace-coffee.png" alt="Coffee bar">
  <h4>We're more than just a co-working space</h4>
  <h2>We're a community</h2>
</div>
<div class="mobile sub">
  <h2>What's new?</h2>
  <p>We're proud to announce our plans for new locations in the United States and Canada! We have planned locations in:</p>
  <ul>
    <li>Seattle, Washington</li>
    <li>Detroit, Michigan</li>
    <li>San Francisco, California</li>
    <li>Toronto, Canada</li>
  </ul>
  <p>Stay tuned for more information!</p>
</div>
