@import '~scss/vars';
@import '~scss/mixins';

.container{
  height: 400px;
  img{
    @include circle-image;
    max-width: 28vw;
    float: left;
  }
  .standard{
    font-family: $poppin;
    font-size: $big-text;
    font-weight: 300;
  }
  .bold{
    font-family: $poppin;
    font-size: $big-text;
    font-weight: minmax(500,600);
  }
  .light{
    font-family: $poppin;
    font-size: $small-text;
    font-weight: 300;
  }
}
.centered{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

#right-align{
  float: right;
}
.container{
  .raleway-title{
    font-family: $raleway;
    font-size: calc(100% + 2em);
  }
  .raleway-p{
    font-family: $raleway;
    font-size: $small-text;
    text-align: right;
  }
  .raleway-emp{
    font-family: $raleway;
    font-size: $big-text;
    text-align: center;
  }
}
.mobile{
  display: none;
}
//media query

@media screen and (max-width: 375px){
  .container{
    display: none;
  }
  .mobile{
    display: block;
    padding: 1vh 1vh 2vh 1vw;
    margin: 3vh;
    background-color: rgba(0,0,0,.5);
  }
  img{
    @include circle-image;
    max-width: 40vw;
    float: left;
  }
  h4{
    font-family: $raleway;
  }
  h2{
    font-family: $poppin;
  }
  .sub{
    text-align: center;
  }
  p{
    font-family: $raleway;
  }
  li{
    font-family: $raleway;
  }
}
