<div class="container">
  <div class="fwd">
    <h2>< Last month</h2>
    <h2>Next month ></h2>
  </div>
  <img src="./assets/calendar.jpg">
</div>
<div class="header">
  <h1>Calendar</h1>
  <h4>View: Day / <span>3 day</span> / 7 day</h4>
</div>
<div class="mobile">
  <div class="day">
    <p>June 8th</p>
    <br>
    <p>No events!</p>
  </div>
  <div class="day">
    <p>June 9th</p>
    <br>
    <p>React Meetup</p>
  </div>
  <div class="day">
    <p>June 10th</p>
    <br>
    <p>Women in Tech: JavaScript Study Group</p>
  </div>
</div>
